@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");
@import url("./reset.css");

/* 숨김컨텐츠  */

.hidden {
  position: absolute;
  left: -9999em;
}


/* 하이퍼링크 스타일 */

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: red;
}


/*본문스타일*/


/*layout*/

body {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}

.wrapper {
  background: silver;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*뷰포트 세로 끝까지 늘려주겠다. */
}


/*한번에 특성 부여하기*/

.header,
.navigation,
.main-contents,
.slogan,
.footer {
  width: 100%;
}

.header {}

.navigation {
  background: pink;
}

.main-contents {
  background: blue;
}

.slogan {
  background: orange;
}

.footer {
  background: lime;
}


/*mobile*/

@media all and (max-width:999px) {
  .header {
    background: #38302e;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .member {
    order: -1;
    list-style: none;
    background: #988574;
    display: flex;
    justify-content: flex-end;
  }
  .member a {
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
  .logo {
    padding: 1rem;
  }
  .search {
    padding: 0 1rem 1rem 1rem;
  }
  #search {
    border: 1px solid #aaa;
    width: calc(100% - 75px);
    margin-right: 0.5rem;
    height: 30px;
    border-radius: 5px;
    padding-left: 1rem;
  }
  .btn-search {
    border: 0;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    background: #988574;
    color: #fff;
    height: 30px;
  }
}


/*desk top*/

@media all and (min-width:1000px) {
  .wrapper {
    align-items: center;
  }
  .header,
  .navigation,
  .main-contents,
  .slogan,
  .footer {
    width: 80%;
  }
}